.container {
    background: var(--objects-background-neutral-tertiary, #f9fafb);
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: calc(50vw - 620px);
    position: sticky;
    top: 0;
    z-index: 2;

    @media screen and (min-width: 1500px) {
        padding-left: calc(50vw - 720px);
    }
}

.content {
    width: 1240px;
    display: flex;
    align-items: center;
    gap: 28px;

    @media screen and (min-width: 1500px) {
        width: 1440px;
    }
}

.profile {
    display: flex;
    align-items: center;
    color: var(--text-neutral-primary, #111317);
    gap: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    &:hover {
        opacity: 0.8;
    }
}

.link {
    box-sizing: border-box;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
        border-bottom: 1px solid;
        margin-bottom: -1px;
    }
}
