@import "src/ui/styles/functions";

@media screen and (min-width: 768px) {
    .container {
        display: none;
    }
}

.container {
    background: var(--objects-background-neutral-tertiary, #f9fafb);
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: calc(50vw - 620px);
    position: sticky;
    top: 0;
    z-index: 2;

    @media screen and (min-width: 1500px) {
        padding-left: calc(50vw - 720px);
    }
}

.content {
    width: 1240px;
    display: flex;
    align-items: center;
    gap: 28px;

    @media screen and (min-width: 1500px) {
        width: 1440px;
    }
}

.profile {
    display: flex;
    align-items: center;
    color: var(--text-neutral-primary, #111317);
    gap: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.linkItem {
    display: flex;
    align-items: center;
    gap: 8px;
    color: lighter-pale($objects-text-neutral-primary);

    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.15px;
}

.linkItemIcon {
    display: flex;
    width: 28px;
    height: 28px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #ececec;
    opacity: 0.7;

    svg {
        width: 16px;
        height: 16px;
        opacity: 0.7;

        path {
            fill: $lighter-pale ($objects-graphic-neutral-primary);
        }
    }
}

.link {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -14px;
    padding: 0 14px;

    &:hover {
        .linkItem {
            color: lighter-hover($objects-text-neutral-primary);
        }

        .linkItemIcon {
            background: #e6e6e6;

            svg {
                width: 16px;
                height: 16px;

                path {
                    fill: $lighter-hover ($objects-graphic-neutral-primary);
                }
            }
        }
    }

    &.active {
        .linkItem {
            color: var(--objects-text-neutral-primary, #111317);
        }

        .linkItemIcon {
            background: var(--objects-graphic-neutral-primary, #111317);
            opacity: 1;

            svg {
                width: 16px;
                height: 16px;
                opacity: 1;

                path {
                    fill: $objects-graphic-contrast-primary;
                }
            }
        }
    }
}
