@import "vars";

:root {
    --3xl: #{$x3xl};
    --4xl: #{$x4xl};
    --alloy-100: #{$alloy-100};
    --alloy-200: #{$alloy-200};
    --alloy-300: #{$alloy-300};
    --alloy-400: #{$alloy-400};
    --alloy-500: #{$alloy-500};
    --alloy-600: #{$alloy-600};
    --alloy-700: #{$alloy-700};
    --alloy-800: #{$alloy-800};
    --alloy-900: #{$alloy-900};
    --app-bar-height-large: #{$app-bar-height-large};
    --avatar-height-large: #{$avatar-height-large};
    --avatar-height-medium: #{$avatar-height-medium};
    --avatar-width-large: #{$avatar-width-large};
    --avatar-width-medium: #{$avatar-width-medium};
    --badge-height-large: #{$badge-height-large};
    --badge-height-medium: #{$badge-height-medium};
    --badge-height-micro: #{$badge-height-micro};
    --badge-height-small: #{$badge-height-small};
    --badge-height-tiny: #{$badge-height-tiny};
    --badge-width-micro: #{$badge-width-micro};
    --button-height-large: #{$button-height-large};
    --button-height-medium: #{$button-height-medium};
    --button-height-small: #{$button-height-small};
    --cell-height-large: #{$cell-height-large};
    --cell-width-large: #{$cell-width-large};
    --checkbox-height-large: #{$checkbox-height-large};
    --checkbox-height-medium: #{$checkbox-height-medium};
    --checkbox-width-large: #{$checkbox-width-large};
    --checkbox-width-medium: #{$checkbox-width-medium};
    --chip-height-medium: #{$chip-height-medium};
    --column-head-height-large: #{$column-head-height-large};
    --darker-disabled: #{$darker-disabled};
    --darker-focus: #{$darker-focus};
    --darker-hover: #{$darker-hover};
    --darker-soft-hover: #{$darker-soft-hover};
    --darker-pale: #{$darker-pale};
    --darker-pressing: #{$darker-pressing};
    --event-width-large: #{$event-width-large};
    --floating-button-height-large: #{$floating-button-height-large};
    --floating-button-width-large: #{$floating-button-width-large};
    --green-Color: #{$green-Color};
    --green-fir-100: #{$green-fir-100};
    --green-fir-200: #{$green-fir-200};
    --green-fir-300: #{$green-fir-300};
    --green-fir-400: #{$green-fir-400};
    --green-fir-500: #{$green-fir-500};
    --green-fir-600: #{$green-fir-600};
    --green-fir-700: #{$green-fir-700};
    --green-fir-800: #{$green-fir-800};
    --green-fir-900: #{$green-fir-900};
    --green-screaming-100: #{$green-screaming-100};
    --green-screaming-200: #{$green-screaming-200};
    --green-screaming-300: #{$green-screaming-300};
    --green-screaming-400: #{$green-screaming-400};
    --green-screaming-500: #{$green-screaming-500};
    --green-screaming-600: #{$green-screaming-600};
    --green-screaming-700: #{$green-screaming-700};
    --green-screaming-800: #{$green-screaming-800};
    --green-screaming-900: #{$green-screaming-900};
    --grey-0: #{$grey-0};
    --grey-100: #{$grey-100};
    --grey-200: #{$grey-200};
    --grey-300: #{$grey-300};
    --grey-400: #{$grey-400};
    --grey-500: #{$grey-500};
    --grey-600: #{$grey-600};
    --grey-700: #{$grey-700};
    --grey-800: #{$grey-800};
    --grey-900: #{$grey-900};
    --icons-height-3xl: #{$icons-height-3xl};
    --icons-height-4xl: #{$icons-height-4xl};
    --icons-height-5xl: #{$icons-height-5xl};
    --icons-height-l: #{$icons-height-l};
    --icons-height-s: #{$icons-height-s};
    --icons-height-xl: #{$icons-height-xl};
    --icons-height-xs: #{$icons-height-xs};
    --icons-height-xxl: #{$icons-height-xxl};
    --icons-width-3xl: #{$icons-width-3xl};
    --icons-width-4xl: #{$icons-width-4xl};
    --icons-width-5xl: #{$icons-width-5xl};
    --icons-width-l: #{$icons-width-l};
    --icons-width-s: #{$icons-width-s};
    --icons-width-xl: #{$icons-width-xl};
    --icons-width-xs: #{$icons-width-xs};
    --icons-width-xxl: #{$icons-width-xxl};
    --input-height-large: #{$input-height-large};
    --input-height-medium: #{$input-height-medium};
    --l: #{$l};
    --lavender-500: #{$lavender-500};
    --lighter-disabled: #{$lighter-disabled};
    --lighter-focus: #{$lighter-focus};
    --lighter-hover: #{$lighter-hover};
    --lighter-pale: #{$lighter-pale};
    --lighter-pressing: #{$lighter-pressing};
    --list-item-height-large: #{$list-item-height-large};
    --list-item-height-medium: #{$list-item-height-medium};
    --lvl-1: #{$lvl-1};
    --lvl-10: #{$lvl-10};
    --lvl-11: #{$lvl-11};
    --lvl-12: #{$lvl-12};
    --lvl-2: #{$lvl-2};
    --lvl-3: #{$lvl-3};
    --lvl-4: #{$lvl-4};
    --lvl-5: #{$lvl-5};
    --lvl-6: #{$lvl-6};
    --lvl-7: #{$lvl-7};
    --lvl-8: #{$lvl-8};
    --lvl-9: #{$lvl-9};
    --m: #{$m};
    --media-loading-height-large: #{$media-loading-height-large};
    --media-loading-width-large: #{$media-loading-width-large};
    --notification-height-medium: #{$notification-height-medium};
    --ocean-100: #{$ocean-100};
    --ocean-200: #{$ocean-200};
    --ocean-300: #{$ocean-300};
    --ocean-400: #{$ocean-400};
    --ocean-500: #{$ocean-500};
    --ocean-600: #{$ocean-600};
    --ocean-700: #{$ocean-700};
    --ocean-800: #{$ocean-800};
    --ocean-900: #{$ocean-900};
    --project-width-small: #{$project-width-small};
    --radio-button-height-large: #{$radio-button-height-large};
    --radio-button-width-large: #{$radio-button-width-large};
    --rounded-button-height-large: #{$rounded-button-height-large};
    --rounded-button-height-medium: #{$rounded-button-height-medium};
    --rounded-button-height-small: #{$rounded-button-height-small};
    --rounded-button-width-large: #{$rounded-button-width-large};
    --rounded-button-width-medium: #{$rounded-button-width-medium};
    --rounded-button-width-small: #{$rounded-button-width-small};
    --row-height-compact: #{$row-height-compact};
    --row-height-large: #{$row-height-large};
    --s: #{$s};
    --section-height-large: #{$section-height-large};
    --status-height-medium: #{$status-height-medium};
    --status-height-small: #{$status-height-small};
    --status-height-tiny: #{$status-height-tiny};
    --strawberry-100: #{$strawberry-100};
    --strawberry-200: #{$strawberry-200};
    --strawberry-300: #{$strawberry-300};
    --strawberry-400: #{$strawberry-400};
    --strawberry-500: #{$strawberry-500};
    --strawberry-600: #{$strawberry-600};
    --strawberry-700: #{$strawberry-700};
    --strawberry-800: #{$strawberry-800};
    --strawberry-900: #{$strawberry-900};
    --switch-height-large: #{$switch-height-large};
    --switch-width-large: #{$switch-width-large};
    --tab-height-large: #{$tab-height-large};
    --xl: #{$xl};
    --xs: #{$xs};
    --xxl: #{$xxl};
    --mode-accent-x1: #{$mode-accent-x1};
    --mode-accent-x2: #{$mode-accent-x2};
    --mode-accent-x3: #{$mode-accent-x3};
    --mode-accent-x4: #{$mode-accent-x4};
    --mode-accent-x5: #{$mode-accent-x5};
    --mode-accent-x9: #{$mode-accent-x9};
    --mode-brand-expfolio-x1: #{$mode-brand-expfolio-x1};
    --mode-brand-expfolio-x2: #{$mode-brand-expfolio-x2};
    --mode-brand-expfolio-x3: #{$mode-brand-expfolio-x3};
    --mode-brand-expfolio-x5: #{$mode-brand-expfolio-x5};
    --mode-brand-expfolio-x6: #{$mode-brand-expfolio-x6};
    --mode-brand-expfolio-x9: #{$mode-brand-expfolio-x9};
    --mode-contrast-x0: #{$mode-contrast-x0};
    --mode-contrast-x1: #{$mode-contrast-x1};
    --mode-contrast-x6: #{$mode-contrast-x6};
    --mode-contrast-x7: #{$mode-contrast-x7};
    --mode-contrast-x8: #{$mode-contrast-x8};
    --mode-negative-x1: #{$mode-negative-x1};
    --mode-negative-x2: #{$mode-negative-x2};
    --mode-negative-x3: #{$mode-negative-x3};
    --mode-negative-x4: #{$mode-negative-x4};
    --mode-negative-x5: #{$mode-negative-x5};
    --mode-negative-x9: #{$mode-negative-x9};
    --mode-neutral-x1: #{$mode-neutral-x1};
    --mode-neutral-x2: #{$mode-neutral-x2};
    --mode-neutral-x3: #{$mode-neutral-x3};
    --mode-neutral-x6: #{$mode-neutral-x6};
    --mode-neutral-x7: #{$mode-neutral-x7};
    --mode-neutral-x8: #{$mode-neutral-x8};
    --mode-neutral-x9: #{$mode-neutral-x9};
    --mode-positive-x1: #{$mode-positive-x1};
    --mode-positive-x2: #{$mode-positive-x2};
    --mode-positive-x3: #{$mode-positive-x3};
    --mode-positive-x4: #{$mode-positive-x4};
    --mode-positive-x5: #{$mode-positive-x5};
    --mode-positive-x9: #{$mode-positive-x9};
    --mode-warning-x1: #{$mode-warning-x1};
    --mode-warning-x2: #{$mode-warning-x2};
    --mode-warning-x3: #{$mode-warning-x3};
    --mode-warning-x4: #{$mode-warning-x4};
    --mode-warning-x5: #{$mode-warning-x5};
    --mode-warning-x9: #{$mode-warning-x9};
    --objects-background-accent-primary: #{$objects-background-accent-primary};
    --objects-background-accent-secondary: #{$objects-background-accent-secondary};
    --objects-background-accent-tertiary: #{$objects-background-accent-tertiary};
    --objects-background-brand-expfolio-primary: #{$objects-background-brand-expfolio-primary};
    --objects-background-brand-expfolio-secondary: #{$objects-background-brand-expfolio-secondary};
    --objects-background-brand-expfolio-tertiary: #{$objects-background-brand-expfolio-tertiary};
    --objects-background-contrast-primary: #{$objects-background-contrast-primary};
    --objects-background-contrast-secondary: #{$objects-background-contrast-secondary};
    --objects-background-contrast-tertiary: #{$objects-background-contrast-tertiary};
    --objects-background-negative-primary: #{$objects-background-negative-primary};
    --objects-background-negative-secondary: #{$objects-background-negative-secondary};
    --objects-background-negative-tertiary: #{$objects-background-negative-tertiary};
    --objects-background-neutral-primary: #{$objects-background-neutral-primary};
    --objects-background-neutral-secondary: #{$objects-background-neutral-secondary};
    --objects-background-neutral-tertiary: #{$objects-background-neutral-tertiary};
    --objects-background-positive-primary: #{$objects-background-positive-primary};
    --objects-background-positive-secondary: #{$objects-background-positive-secondary};
    --objects-background-positive-tertiary: #{$objects-background-positive-tertiary};
    --objects-background-warning-primary: #{$objects-background-warning-primary};
    --objects-background-warning-secondary: #{$objects-background-warning-secondary};
    --objects-background-warning-tertiary: #{$objects-background-warning-tertiary};
    --objects-graphic-accent-primary: #{$objects-graphic-accent-primary};
    --objects-graphic-brand-expfolio-primary: #{$objects-graphic-brand-expfolio-primary};
    --objects-graphic-brand-expfolio-secondary: #{$objects-graphic-brand-expfolio-secondary};
    --objects-graphic-brand-expfolio-tertiary: #{$objects-graphic-brand-expfolio-tertiary};
    --objects-graphic-contrast-primary: #{$objects-graphic-contrast-primary};
    --objects-graphic-negative-primary: #{$objects-graphic-negative-primary};
    --objects-graphic-neutral-primary: #{$objects-graphic-neutral-primary};
    --objects-graphic-neutral-secondary: #{$objects-graphic-neutral-secondary};
    --objects-graphic-neutral-tertiary: #{$objects-graphic-neutral-tertiary};
    --objects-graphic-positive-primary: #{$objects-graphic-positive-primary};
    --objects-graphic-warning-primary: #{$objects-graphic-warning-primary};
    --objects-link-link: #{$objects-link-link};
    --objects-link-link-visited: #{$objects-link-link-visited};
    --objects-stroke-accent-primary: #{$objects-stroke-accent-primary};
    --objects-stroke-accent-secondary: #{$objects-stroke-accent-secondary};
    --objects-stroke-accent-tertiary: #{$objects-stroke-accent-tertiary};
    --objects-stroke-brand-expfolio-primary: #{$objects-stroke-brand-expfolio-primary};
    --objects-stroke-brand-expfolio-quaternary: #{$objects-stroke-brand-expfolio-quaternary};
    --objects-stroke-brand-expfolio-secondary: #{$objects-stroke-brand-expfolio-secondary};
    --objects-stroke-brand-expfolio-tertiary: #{$objects-stroke-brand-expfolio-tertiary};
    --objects-stroke-contrast-primary: #{$objects-stroke-contrast-primary};
    --objects-stroke-contrast-secondary: #{$objects-stroke-contrast-secondary};
    --objects-stroke-contrast-tertiary: #{$objects-stroke-contrast-tertiary};
    --objects-stroke-negative-primary: #{$objects-stroke-negative-primary};
    --objects-stroke-negative-secondary: #{$objects-stroke-negative-secondary};
    --objects-stroke-negative-tertiary: #{$objects-stroke-negative-tertiary};
    --objects-stroke-neutral-primary: #{$objects-stroke-neutral-primary};
    --objects-stroke-neutral-secondary: #{$objects-stroke-neutral-secondary};
    --objects-stroke-neutral-tertiary: #{$objects-stroke-neutral-tertiary};
    --objects-stroke-positive-primary: #{$objects-stroke-positive-primary};
    --objects-stroke-positive-secondary: #{$objects-stroke-positive-secondary};
    --objects-stroke-positive-tertiary: #{$objects-stroke-positive-tertiary};
    --objects-stroke-warning-primary: #{$objects-stroke-warning-primary};
    --objects-stroke-warning-secondary: #{$objects-stroke-warning-secondary};
    --objects-stroke-warning-tertiary: #{$objects-stroke-warning-tertiary};
    --objects-text-accent-primary: #{$objects-text-accent-primary};
    --objects-text-accent-secondary: #{$objects-text-accent-secondary};
    --objects-text-accent-tertiary: #{$objects-text-accent-tertiary};
    --objects-text-brand-expfolio-primary: #{$objects-text-brand-expfolio-primary};
    --objects-text-brand-expfolio-secondary: #{$objects-text-brand-expfolio-secondary};
    --objects-text-brand-expfolio-tertiary: #{$objects-text-brand-expfolio-tertiary};
    --objects-text-contrast-primary: #{$objects-text-contrast-primary};
    --objects-text-contrast-secondary: #{$objects-text-contrast-secondary};
    --objects-text-negative-primary: #{$objects-text-negative-primary};
    --objects-text-negative-secondary: #{$objects-text-negative-secondary};
    --objects-text-neutral-primary: #{$objects-text-neutral-primary};
    --objects-text-neutral-quaternary: #{$objects-text-neutral-quaternary};
    --objects-text-neutral-secondary: #{$objects-text-neutral-secondary};
    --objects-text-neutral-tertiary: #{$objects-text-neutral-tertiary};
    --objects-text-positive-primary: #{$objects-text-positive-primary};
    --objects-text-positive-secondary: #{$objects-text-positive-secondary};
    --objects-text-warning-primary: #{$objects-text-warning-primary};
    --objects-text-warning-secondary: #{$objects-text-warning-secondary};
}
