* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    @media screen and (max-width: 767px) {
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
        /* Blink/WebKit */
    }
}

body {
    color: var(--objects-text-neutral-primary, #111317);
    -webkit-tap-highlight-color: transparent;
    background-color: white;
}

a {
    text-decoration: none;
    cursor: pointer;
    -webkit-user-drag: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
    background: none;
    user-select: none;
    outline: none;
}

button:disabled {
    cursor: default;
    pointer-events: none;
}

img,
svg {
    display: block;
}

svg {
    flex-shrink: 0;
}

input,
textarea {
    border: none;
    outline: none;
    background: none;
}

.yaPreloadingSuggestBlockSvgYa {
    path {
        fill: white;
    }

    fill: white;
}

.yaPreloadingSuggestBlock {
    background-color: white !important;
    border: 1px solid var(--objects-stroke-neutral-secondary, #d6d9e0) !important;
}

html > iframe {
    display: none;
}

.cropper-line {
    opacity: 0;
}

.cropper-point {
    width: 10px !important;
    height: 10px !important;
    background-color: white;
    opacity: 1;
    border: 1px solid #000;
}

.cropper-view-box {
    outline-color: var(--colorPrimary);
}

.cropper-point.point-n {
    margin-left: -5px;
    top: -5px;
}

.cropper-point.point-e {
    margin-top: -5px;
    right: -5px;
}

.cropper-point.point-s {
    margin-left: -5px;
    bottom: -5px;
}

.cropper-point.point-w {
    margin-top: -5px;
    left: -5px;
}

.cropper-point.point-nw {
    left: -5px;
    top: -5px;
}

.cropper-point.point-ne {
    right: -5px;
    top: -5px;
}

.cropper-point.point-se {
    right: -5px;
    bottom: -5px;
    opacity: 1;
}

.cropper-point.point-sw {
    left: -5px;
    bottom: -5px;
}

.cropper-dashed {
    border: 0 dashed #777;
}

.cropper-center::before,
.cropper-center::after {
    background-color: #777;
}

.cropper-drag-box.cropper-modal {
    border-radius: 4px;
    overflow: hidden;
}

.cropper-container.cropper-bg {
    img {
        border-radius: 4px;
        overflow: hidden;
    }
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-control-layers-toggle {
    display: none;
}

.leaflet-control-layers.leaflet-control {
    display: none;
}

.leaflet-draw,
.leaflet-draw-toolbar {
    display: none !important;
}

.leaflet-interactive:focus {
    outline: none !important;
}

.gantt_task_line {
    background: #444d5f !important;
    border-color: #444d5f !important;
}

.gantt_task_progress {
    background: #2053d5 !important;
}

.gantt_task_line.task-done {
    background: #267d5f !important;
    border-color: #267d5f !important;
}

.gantt_task_line.task-done .gantt_task_progress {
    background: #267d5f !important;
}

.gantt_task_line,
.gantt_task_progress {
    border-radius: 4px;
}

.gantt_task_line {
    filter: none !important;
    opacity: 1 !important;
}

.gantt_layout_cell.gantt_layout_root {
    border-bottom: none !important;
    border-radius: 10px;
}

.gantt_tooltip {
    background: #fff;
    border-radius: 8px;
    padding: 8px 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    color: var(--objects-text-neutral-primary);
}

.gantt_tooltip .tooltip-title {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 600;
}

.gantt_tooltip .tooltip-dates {
    margin-bottom: 2px;
    font-size: 14px;
    color: var(--objects-text-neutral-secondary);
}

.gantt_tooltip .tooltip-progress {
    font-size: 14px;
}

.gantt_task_line.task-on-check {
    background-color: #8c3af8 !important;
    border-color: #8c3af8 !important;
}

.gantt_task_line.task-on-check .gantt_task_progress {
    background-color: rgba(140, 58, 248, 0.6) !important;
}

@media screen and (max-width: 767px) {
}
