$x3xl: 28px;
$x4xl: 40px;
$alloy-100: #fff3e5ff;
$alloy-200: #f7e7d4ff;
$alloy-300: #edcba0ff;
$alloy-400: #de9e4fff;
$alloy-500: #946429ff;
$alloy-600: #845924ff;
$alloy-700: #764c19ff;
$alloy-800: #654115ff;
$alloy-900: #543612ff;
$app-bar-height-large: 64px;
$avatar-height-large: 80px;
$avatar-height-medium: 44px;
$avatar-width-large: 80px;
$avatar-width-medium: 44px;
$badge-height-large: 28px;
$badge-height-medium: 24px;
$badge-height-micro: 8px;
$badge-height-small: 20px;
$badge-height-tiny: 16px;
$badge-width-micro: 8px;
$button-height-large: 52px;
$button-height-medium: 44px;
$button-height-small: 36px;
$cell-height-large: 48px;
$cell-width-large: 48px;
$checkbox-height-large: 24px;
$checkbox-height-medium: 20px;
$checkbox-width-large: 24px;
$checkbox-width-medium: 20px;
$chip-height-medium: 44px;
$column-head-height-large: 64px;
$darker-disabled: #111317ad;
$darker-focus: #11131729;
$darker-hover: #1113170a;
$darker-strong-hover: #11131729;
$darker-soft-hover: #11131703;
$darker-pale: #1113175c;
$darker-pressing: #11131714;
$darker-strong-pressing: #11131747;
$event-width-large: 440px;
$floating-button-height-large: 60px;
$floating-button-width-large: 60px;
$green-Color: #ffffffff;
$green-fir-100: #e6fff6ff;
$green-fir-200: #d4f7ebff;
$green-fir-300: #a0edd2ff;
$green-fir-400: #4fdeacff;
$green-fir-500: #267d5fff;
$green-fir-600: #226d53ff;
$green-fir-700: #20644cff;
$green-fir-800: #1d5944ff;
$green-fir-900: #194d3bff;
$green-screaming-100: #e5ffedff;
$green-screaming-200: #ccffdbff;
$green-screaming-300: #9ef0b7ff;
$green-screaming-400: #75ff9fff;
$green-screaming-500: #41ff7aff;
$green-screaming-600: #2a8445ff;
$green-screaming-700: #24703bff;
$green-screaming-800: #1e5c31ff;
$green-screaming-900: #184d28ff;
$grey-0: #ffffffff;
$grey-100: #f9fafbff;
$grey-200: #e8eaedff;
$grey-300: #d6d9e0ff;
$grey-400: #c5cad3ff;
$grey-500: #8b94a7ff;
$grey-600: #5f6a81ff;
$grey-700: #444d5fff;
$grey-800: #2c313aff;
$grey-900: #111317ff;
$icons-height-3xl: 36px;
$icons-height-4xl: 48px;
$icons-height-5xl: 96px;
$icons-height-l: 24px;
$icons-height-s: 20px;
$icons-height-xl: 28px;
$icons-height-xs: 16px;
$icons-height-xxl: 32px;
$icons-width-3xl: 36px;
$icons-width-4xl: 48px;
$icons-width-5xl: 96px;
$icons-width-l: 24px;
$icons-width-s: 20px;
$icons-width-xl: 28px;
$icons-width-xs: 16px;
$icons-width-xxl: 32px;
$input-height-large: 52px;
$input-height-medium: 44px;
$l: 16px;
$lavender-500: #8c3af8ff;
$lighter-disabled: #ffffffad;
$lighter-focus: #ffffff3d;
$lighter-hover: #ffffff14;
$lighter-pale: #ffffff5c;
$lighter-pressing: #ffffff1f;
$list-item-height-large: 52px;
$list-item-height-medium: 44px;
$lvl-1: 2px;
$lvl-10: 36px;
$lvl-11: 40px;
$lvl-12: 44px;
$lvl-2: 4px;
$lvl-3: 8px;
$lvl-4: 12px;
$lvl-5: 16px;
$lvl-6: 20px;
$lvl-7: 24px;
$lvl-8: 28px;
$lvl-9: 32px;
$m: 12px;
$media-loading-height-large: 320px;
$media-loading-width-large: 650px;
$notification-height-medium: 44px;
$ocean-100: #e5ecffff;
$ocean-200: #d4def7ff;
$ocean-300: #a0b6edff;
$ocean-400: #4f77deff;
$ocean-500: #2053d5ff;
$ocean-600: #1d4cc3ff;
$ocean-700: #183377ff;
$ocean-800: #142b66ff;
$ocean-900: #112455ff;
$project-width-small: 280px;
$radio-button-height-large: 24px;
$radio-button-width-large: 24px;
$rounded-button-height-large: 52px;
$rounded-button-height-medium: 44px;
$rounded-button-height-small: 36px;
$rounded-button-width-large: 52px;
$rounded-button-width-medium: 44px;
$rounded-button-width-small: 36px;
$row-height-compact: 41px;
$row-height-large: 76px;
$s: 8px;
$section-height-large: 44px;
$status-height-medium: 44px;
$status-height-small: 36px;
$status-height-tiny: 28px;
$strawberry-100: #ffe6e6ff;
$strawberry-200: #f7d4d4ff;
$strawberry-300: #eda0a0ff;
$strawberry-400: #de4f4fff;
$strawberry-500: #c02626ff;
$strawberry-600: #af2222ff;
$strawberry-700: #761919ff;
$strawberry-800: #651515ff;
$strawberry-900: #541212ff;
$switch-height-large: 36px;
$switch-width-large: 60px;
$tab-height-large: 52px;
$xl: 20px;
$xs: 4px;
$xxl: 24px;
$mode-accent-x1: $ocean-100;
$mode-accent-x2: $ocean-200;
$mode-accent-x3: $ocean-300;
$mode-accent-x4: $ocean-400;
$mode-accent-x5: $ocean-500;
$mode-accent-x9: $ocean-900;
$mode-contrast-x0: $grey-0;
$mode-contrast-x1: $grey-100;
$mode-contrast-x6: $grey-600;
$mode-contrast-x7: $grey-700;
$mode-contrast-x8: $grey-800;
$mode-negative-x1: $strawberry-100;
$mode-negative-x2: $strawberry-200;
$mode-negative-x3: $strawberry-300;
$mode-negative-x4: $strawberry-400;
$mode-negative-x5: $strawberry-500;
$mode-negative-x9: $strawberry-900;
$mode-neutral-x1: $grey-100;
$mode-neutral-x2: $grey-200;
$mode-neutral-x3: $grey-300;
$mode-neutral-x6: $grey-600;
$mode-neutral-x7: $grey-700;
$mode-neutral-x8: $grey-800;
$mode-neutral-x9: $grey-900;
$mode-positive-x1: $green-fir-100;
$mode-positive-x2: $green-fir-200;
$mode-positive-x3: $green-fir-300;
$mode-positive-x4: $green-fir-400;
$mode-positive-x5: $green-fir-500;
$mode-positive-x9: $green-fir-900;
$mode-warning-x1: $alloy-100;
$mode-warning-x2: $alloy-200;
$mode-warning-x3: $alloy-300;
$mode-warning-x4: $alloy-400;
$mode-warning-x5: $alloy-500;
$mode-warning-x9: $alloy-900;
$objects-background-accent-primary: $mode-accent-x5;
$objects-background-accent-secondary: $mode-accent-x2;
$objects-background-accent-tertiary: $mode-accent-x1;
$objects-background-contrast-primary: $mode-contrast-x0;
$objects-background-contrast-secondary: $mode-contrast-x7;
$objects-background-contrast-tertiary: $mode-neutral-x8;
$objects-background-negative-primary: $mode-negative-x5;
$objects-background-negative-secondary: $mode-negative-x2;
$objects-background-negative-tertiary: $mode-negative-x1;
$objects-background-neutral-primary: $mode-neutral-x9;
$objects-background-neutral-secondary: $mode-neutral-x2;
$objects-background-neutral-tertiary: $mode-neutral-x1;
$objects-background-positive-primary: $mode-positive-x5;
$objects-background-positive-secondary: $mode-positive-x2;
$objects-background-positive-tertiary: $mode-positive-x1;
$objects-background-warning-primary: $mode-warning-x5;
$objects-background-warning-secondary: $mode-warning-x2;
$objects-background-warning-tertiary: $mode-warning-x1;
$objects-graphic-accent-primary: $mode-accent-x5;
$objects-graphic-contrast-primary: $mode-contrast-x0;
$objects-graphic-negative-primary: $mode-negative-x5;
$objects-graphic-neutral-primary: $mode-neutral-x9;
$objects-graphic-neutral-secondary: $mode-neutral-x8;
$objects-graphic-neutral-tertiary: $mode-neutral-x6;
$objects-graphic-positive-primary: $mode-positive-x5;
$objects-graphic-warning-primary: $mode-warning-x5;
$objects-link-link: $ocean-500;
$objects-link-link-visited: $lavender-500;
$objects-stroke-accent-primary: $mode-accent-x5;
$objects-stroke-accent-secondary: $mode-accent-x3;
$objects-stroke-accent-tertiary: $mode-accent-x2;
$objects-stroke-contrast-primary: $mode-contrast-x0;
$objects-stroke-contrast-secondary: $mode-contrast-x6;
$objects-stroke-contrast-tertiary: $mode-contrast-x7;
$objects-stroke-negative-primary: $mode-negative-x5;
$objects-stroke-negative-secondary: $mode-negative-x3;
$objects-stroke-negative-tertiary: $mode-negative-x2;
$objects-stroke-neutral-primary: $mode-neutral-x9;
$objects-stroke-neutral-secondary: $mode-neutral-x3;
$objects-stroke-neutral-tertiary: $mode-neutral-x2;
$objects-stroke-positive-primary: $mode-positive-x5;
$objects-stroke-positive-secondary: $mode-positive-x3;
$objects-stroke-positive-tertiary: $mode-positive-x2;
$objects-stroke-warning-primary: $mode-warning-x5;
$objects-stroke-warning-secondary: $mode-warning-x3;
$objects-stroke-warning-tertiary: $mode-warning-x2;
$objects-text-accent-primary: $mode-accent-x5;
$objects-text-accent-secondary: $mode-accent-x4;
$objects-text-accent-tertiary: $mode-accent-x9;
$objects-text-contrast-primary: $mode-contrast-x0;
$objects-text-contrast-secondary: $mode-contrast-x1;
$objects-text-negative-primary: $mode-negative-x5;
$objects-text-negative-secondary: $mode-negative-x4;
$objects-text-neutral-primary: $mode-neutral-x9;
$objects-text-neutral-quaternary: $mode-neutral-x6;
$objects-text-neutral-secondary: $mode-neutral-x8;
$objects-text-neutral-tertiary: $mode-neutral-x7;
$objects-text-positive-primary: $mode-positive-x5;
$objects-text-positive-secondary: $mode-positive-x4;
$objects-text-warning-primary: $mode-warning-x5;
$objects-text-warning-secondary: $mode-warning-x4;
