.card {
    border-radius: 10px;
    border: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
    background: var(--objects-background-neutral-tertiary, #f9fafb);
    padding: 16px 20px 16px 20px;
}

.workCardStages {
    padding: 20px 0 8px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
