.text {
    color: var(--objects-text-neutral-secondary, #2c313a);

    /* Subhead/XL */
    font-family: Manrope;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 22.1px */
    margin-bottom: -8px;
}

.mediaArray {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
