@import "src/ui/styles/functions";

.container {
    display: flex;
    gap: 16px;
    margin-top: 40px;
    align-items: flex-start;
}

.itemForm {
    border-radius: 12px;
    border: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
    background: $objects-background-neutral-tertiary;
    width: 387px;
    padding: 24px 0;
    min-height: 346px;
}

.itemHead {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    padding-top: 0;
    border-bottom: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
    color: var(--objects-text-neutral-primary, #111317);

    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.itemLink {
    color: var(--text-brand-example-primary, #2053d5);

    margin-top: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    &:hover {
        opacity: 0.8;
    }
}

.objImg {
    width: 49px;
    height: 72px;
    border-radius: 8px;
    object-fit: cover;
}

.bodyItemLeft {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 24px;
    padding: 16px;
    padding-top: 20px;
    padding-bottom: 0;
    gap: 8px;
}

.objCard {
    width: 339px;
    display: flex;
    gap: 12px;
    border-radius: 8px;
    background: #f0f0f0;

    &:hover {
        background: darker-hover(#f0f0f0);
        cursor: pointer;
    }
}

.obj {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 6px;
}

.objname {
    color: var(--objects-text-neutral-primary, #111317);
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.objNumber {
    color: rgba(0, 0, 0, 0.39);
    text-align: justify;

    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding-right: 12px;

    svg {
        width: 20px;
        height: 20px;

        path {
            fill: lighter-pale($objects-graphic-neutral-primary);
        }
    }
}

.noItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
    gap: 8px;
    color: var(--text-neutral-secondary, #2c313a);
    text-align: center;

    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;

    svg {
        width: 48px;
        height: 48px;
        opacity: 0.4;
    }
}

.workText {
    opacity: 0.7;
    margin-top: 7px;
}

.workList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 23px;
    border-bottom: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
    cursor: pointer;
    color: var(--objects-text-neutral-primary, #111317);
    gap: 16px;

    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;

    &:hover {
        .workText {
            opacity: 1;
        }
    }

    &:last-child {
        border-bottom: none;
    }
}

.noImg {
    border-radius: var(--s, 8px);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 72px;
    object-fit: cover;

    svg {
        width: 35px;
        height: 35px;
        opacity: 0.4;
    }
}
