@use "sass:color";
@import "src/ui/styles/functions";

@mixin color-mode-vars(
    $color-components-graphic,
    $color-components-text,
    $color-components-text-secondary
) {
    --icon-color-pale: #{lighter-pale($color-components-graphic)};
    --icon-color-checked: #{$color-components-graphic};
    --icon-color-hover: #{lighter-hover($color-components-graphic)};
    --icon-color-pressing: #{lighter-pressing($color-components-graphic)};
    --icon-color-disabled: #{lighter-disabled($color-components-graphic)};

    --title-color-pale: #{lighter-pale($color-components-text)};
    --title-color-checked: #{$color-components-text};
    --title-color-hover: #{lighter-hover($color-components-text)};
    --title-color-pressing: #{lighter-pressing($color-components-text)};
    --title-color-disabled: #{lighter-disabled($color-components-text)};

    --subtitle-color-pale: #{lighter-pale($color-components-text-secondary)};
    --subtitle-color-checked: #{$color-components-text-secondary};
    --subtitle-color-hover: #{lighter-hover($color-components-text-secondary)};
    --subtitle-color-pressing: #{lighter-pressing($color-components-text-secondary)};
    --subtitle-color-disabled: #{lighter-disabled($color-components-text-secondary)};
}

@mixin color-mode-vars-brand(
    $color-components-graphic,
    $color-components-text,
    $color-components-text-secondary
) {
    --icon-color-pale: #{lighter-pale($color-components-graphic)};
    --icon-color-checked: #{$color-components-graphic};
    --icon-color-hover: #{darker-hover($color-components-graphic)};
    --icon-color-pressing: #{darker-pressing($color-components-graphic)};
    --icon-color-disabled: #{lighter-disabled($color-components-graphic)};
}

@mixin color-state-vars($state) {
    --icon-color: var(--icon-color-#{$state});
    --title-color: var(--title-color-#{$state});
    .title {
        color: var(--title-color-#{$state});
    }
    .subtitle {
        color: var(--subtitle-color-#{$state});
    }
}

.checkbox {
    display: flex;
    align-items: center;
    text-align: start;
    color: lighter-pale($objects-graphic-neutral-primary);

    &.large {
        gap: var(--lvl-4);

        .icon {
            width: var(--checkbox-width-large);
            height: var(--checkbox-height-large);
        }
    }

    &.medium {
        gap: var(--lvl-3);

        .icon {
            width: var(--checkbox-width-medium);
            height: var(--checkbox-height-medium);
        }
    }

    &.accent {
        @include color-mode-vars(
            $objects-graphic-accent-primary,
            $objects-text-accent-primary,
            $objects-text-accent-secondary
        );
    }

    &.lavender {
        @include color-mode-vars(
            $lavender-500,
            $objects-text-neutral-primary,
            $objects-text-neutral-secondary
        );
    }

    &.neutral {
        @include color-mode-vars(
            $objects-graphic-neutral-primary,
            $objects-text-neutral-primary,
            $objects-text-neutral-secondary
        );
    }

    &.positive {
        @include color-mode-vars(
            $objects-graphic-positive-primary,
            $objects-text-positive-primary,
            $objects-text-neutral-secondary
        );
    }

    &.brand {
        @include color-mode-vars(
            $objects-graphic-brand-expfolio-primary,
            $objects-text-brand-expfolio-primary,
            $objects-text-brand-expfolio-tertiary
        );
        @include color-mode-vars-brand(
            $objects-graphic-brand-expfolio-primary,
            $objects-text-brand-expfolio-primary,
            $objects-text-brand-expfolio-tertiary
        );
    }

    &.brand:not(.checked) {
        @include color-mode-vars(
            $objects-graphic-brand-expfolio-secondary,
            $objects-text-brand-expfolio-primary,
            $objects-text-brand-expfolio-tertiary
        );
        @include color-mode-vars-brand(
            $objects-graphic-brand-expfolio-secondary,
            $objects-text-brand-expfolio-primary,
            $objects-text-brand-expfolio-tertiary
        );
    }

    @include color-state-vars("pale");

    &.checked,
    &.intermediate {
        @include color-state-vars("checked");
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @include color-state-vars("hover");
        }
    }

    &.hover {
        @include color-state-vars("hover");
    }

    &:active {
        @include color-state-vars("pressing");
    }

    &:disabled {
        @include color-state-vars("disabled");
    }

    svg path:first-child {
        fill: var(--icon-color);
    }

    &.brand {
        svg path:first-child {
            fill: var(--icon-color);
        }

        svg path:not(:first-child) {
            fill: var(--title-color);
        }
    }

    transition: background-color 0.1s ease-out;
}

.icon {
}

.title {
}

.subtitle {
    margin-top: var(--lvl-1);
}
