.container {
    display: flex;
    width: 976px;
    gap: 24px;
    position: relative;

    &::-webkit-scrollbar {
        display: none;
    }
}

.contentPersonal {
    display: flex;
    flex: 1;

    gap: 16px;
}

.inputPersonal {
    width: 256px;
    margin-top: 16px;
}

.header {
    color: var(--objects-text-neutral-tertiary, #444d5f);

    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.divider {
    background: var(--objects-stroke-neutral-tertiary, #e8eaed);
    width: 100%;
    height: 1px;
}

.contentContact {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
}

.inputContact {
    width: 393px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.textFooter {
    color: var(--objects-text-neutral-quaternary, #5f6a81);
    font-size: 16px;
    line-height: 130%;
}
