@import "src/ui/styles/functions";

.cell {
    background: var(--objects-background-contrast-primary);
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 12px;

    &.index {
        position: sticky;
        left: 0;
        padding: 0 var(--lvl-7, 24px);

        &.scrolledX {
            box-shadow: 1px 0px 3px 0px rgba(17, 19, 23, 0.12);
            clip-path: inset(0px -15px 0px 0px);
        }
    }

    &.selected {
        background: lighter-focus(#e5ecff);
    }

    &:not(:last-child) {
        border-right: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
    }

    &.dynamicRowHeight {
        padding-top: 9px;
        padding-bottom: 9px;
        height: auto;
    }
}

div:hover > .cell {
    background: darker-hover($objects-background-contrast-primary);
}

div:active > .cell {
    background: darker-pressing($objects-background-contrast-primary);
}
