@import "src/ui/styles/functions";

.iconHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background: var(--graphic-neutral-primary, #111317);
}

.header {
    display: flex;
    gap: 12px;
    align-items: center;
    color: var(--text-neutral-tertiary, #444d5f);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.container {
    margin-top: 40px;
    padding-bottom: 140px;
    @media screen and (max-width: 768px) {
        padding: 0;
        min-height: 100dvh;
        margin-bottom: 100px;
    }
}

.grid {
    display: grid;
    grid-template-columns: 340px 1fr;
    gap: 24px;
    margin-top: 24px;
}

.leftCol {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.leftColCard {
    display: flex;
    width: 100%;
    padding: 20px 24px 28px 24px;
    flex-direction: column;
    gap: 12px;
    border-radius: 12px;
    border: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
    background: #f9fafb;
}

.periodsCol {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.periodCard {
    display: flex;
    padding: 8px 12px;
    flex-direction: column;
    gap: 4px;
    border-radius: 8px;
    background: #edf0f3;
}

.footer {
    position: fixed;
    bottom: 40px;
    left: calc((100vw - 1240px) / 2 + 317px + 143px);
    display: inline-flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid var(--objects-stroke-neutral-secondary, #d6d9e0);
    background: var(--objects-background-neutral-tertiary, #f9fafb);

    box-shadow: 0 8px 20px 1px rgba(17, 19, 23, 0.12);
    @media (max-width: 768px) {
        position: relative;

        display: none;
    }
}

.tasksArea {
    width: 100%;
    border-radius: 12px;
    border: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
    background: #f9fafb;
    position: relative;
    @media (max-width: 768px) {
        width: 100vw;
    }
}

.tasksAreaHeader {
    height: 64px;
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 0 24px;
    border-bottom: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
}

.tasksAreaHeaderTab {
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
    cursor: pointer;

    .text {
        opacity: 0.6;

        &.active {
            opacity: 1;
        }
    }

    &:hover:not(:has(button:hover)) {
        .text {
            opacity: 0.8;

            &.active {
                opacity: 1;
            }
        }
    }
}

.tasksAreaContent {
    overflow-y: auto;
    max-height: calc(min(633px, 100vh - 173px));
    padding: 0 24px 16px 24px;
    @media (max-width: 768px) {
        max-height: none;
    }
}

.stages {
    border-radius: 8px;
    background: #f3f4f7;
    display: flex;
    padding: 12px 16px 16px 16px;
    flex-direction: column;
    gap: 12px;
}

.workCard {
    border-radius: 10px;
    border: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
    background: var(--objects-background-contrast-primary, #fff);
}

.workCardHeader {
    padding: 16px 20px;
    display: grid;
    align-items: center;
    gap: 12px;
    @media screen and (max-width: 768px) {
        padding: 16px;
    }
}

.workCardStages {
    padding: 4px 20px 24px 20px;
}

.workCardBottomPanel {
    height: 68px;
    border-radius: 0 0 10px 10px;
    background: var(--objects-background-neutral-tertiary, #f9fafb);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    @media screen and (max-width: 768px) {
        padding: 0 16px;
    }
}

.gradient {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 100%;
    height: 20px;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(95, 95, 95, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
    border-radius: 0 0 12px 12px;
}

.ganttWrapper {
    margin-top: 24px;
    border-radius: 12px;
    border: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
    padding: 16px;
    background: #f9fafb;
}

.noUsersInOrg {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .icon {
        width: 48px;
        height: 48px;
        opacity: 0.4;

        path {
            fill: var(--graphic-neutral-tertiary, #5f6a81);
        }
    }
}

.previewNewVersionWorkName {
    color: lighter-pale($objects-text-neutral-primary);
}

.workCardGroupHeader:has(+ div:empty) {
    display: none;
}

.workCardGroupHeader + div:empty {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .buttonItem {
        width: calc(50vw - 34px);
    }
}
