.container {
    width: 1280px;
    padding: 28px 40px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    height: 100dvh;
}

.navigationBlock {
    width: 423px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttonContainer {
    width: 423px;
    gap: 4px;
    display: flex;
    flex-direction: column;

    padding: 8px;
    border-radius: var(--s, 8px);
    border: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
    background: var(--objects-background-contrast-primary, #fff);
}

.documentBlock {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 757px;
    /*margin-bottom: 28px;*/
}

.documentHeader {
    position: sticky;
    top: 0;
    background-color: white;
    padding: var(--lvl-7, 24px) var(--lvl-9, 32px);
    border-radius: var(--s, 8px) var(--s, 8px) 0px 0px;
    border: 1px solid var(--objects-stroke-neutral-secondary, #d6d9e0);
    background: var(--objects-background-neutral-tertiary, #f9fafb);
}

.documentBody {
    padding-left: 32px;
    flex: 1;
    background-color: white;
    padding-right: 32px;
    border: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
    border-top: none;
    border-radius: 0px 0px var(--s, 8px) var(--s, 8px);
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 24px;

    & > *:first-child {
        margin-top: 24px;
    }
}

.h2 {
    margin-bottom: 12px;
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
        padding-top: 24px;
    }
}

.p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.listBlock {
    display: flex;
    padding-left: 1em;
    gap: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.sh {
    margin-top: 12px;
    margin-bottom: 12px;
}

.body {
    display: flex;

    justify-content: center;
    background: var(--objects-background-neutral-tertiary, #f9fafb);
}

@media (max-width: 767px) {
    .container {
        width: calc(100vw - 32px);
        margin: 0 auto;
        display: flex;
        gap: 20px;
        padding: 16px 0 28px;
        flex-direction: column;
        min-height: 100dvh;
        height: auto;
    }

    .navigationBlock {
        width: calc(100vw - 40px);
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .buttonContainer {
        width: calc(100vw - 40px);
        gap: var(--lvl-2);
        padding: 8px;
        border-radius: var(--s, 8px);
        border: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
        background: var(--objects-background-contrast-primary, #fff);
    }

    .documentBlock {
        position: relative;

        display: flex;
        flex-direction: column;
        width: calc(100vw - 40px);
        margin-bottom: 28px;
    }

    .documentHeader {
        position: static;
        top: 0;
        background-color: white;
        padding: 16px 20px;
        border-radius: var(--s, 8px) var(--s, 8px) 0px 0px;
        border: 1px solid var(--objects-stroke-neutral-secondary, #d6d9e0);
        background: var(--objects-background-neutral-tertiary, #f9fafb);
    }

    .documentBody {
        padding-left: 12px;
        flex: 1;
        background-color: white;
        padding-right: 12px;
        padding-bottom: 24px;
        border: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
        border-top: none;
        border-radius: 0px 0px var(--s, 8px) var(--s, 8px);
        overflow: hidden;
        overflow-y: auto;
        white-space: nowrap;
        & > *:first-child {
            margin-top: 16px;
        }
    }

    .h2 {
        margin-bottom: 12px;
        margin-top: 14px;
        white-space: nowrap;
        &:first-child {
            margin-top: 0;
            padding-top: 16px;
        }
    }

    .p {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .body {
        display: flex;

        justify-content: center;
        background: var(--objects-background-neutral-tertiary, #f9fafb);
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .container {
        width: calc(100vw - 40px);
        padding: 32px 0;
        margin: 0 auto;
        display: flex;
        gap: 20px;
        flex-direction: column;
        min-height: 100dvh;
        height: auto;
    }

    .navigationBlock {
        width: calc(100vw - 40px);
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .buttonContainer {
        width: calc(100vw - 40px);
        gap: var(--lvl-2);
        padding: 8px;
        border-radius: var(--s, 8px);
        border: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
        background: var(--objects-background-contrast-primary, #fff);
    }

    .documentBlock {
        position: relative;

        display: flex;
        flex-direction: column;
        width: calc(100vw - 40px);
        margin-bottom: 28px;
    }

    .documentHeader {
        position: static;
        top: 0;
        background-color: white;
        padding: 24px 32px;
        border-radius: var(--s, 8px) var(--s, 8px) 0px 0px;
        border: 1px solid var(--objects-stroke-neutral-secondary, #d6d9e0);
        background: var(--objects-background-neutral-tertiary, #f9fafb);
    }

    .documentBody {
        padding-left: 32px;
        flex: 1;
        background-color: white;
        padding-right: 32px;
        padding-bottom: 24px;
        border: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
        border-top: none;
        border-radius: 0px 0px var(--s, 8px) var(--s, 8px);
        overflow: hidden;
        overflow-y: auto;
    }

    .h2 {
        margin-bottom: 12px;
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
            padding-top: 24px;
        }
    }

    .p {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .body {
        display: flex;

        justify-content: center;
        background: var(--objects-background-neutral-tertiary, #f9fafb);
    }
}
