@import "src/ui/styles/functions";

.tableWrapper {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
}

.table {
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    background: var(--objects-background-contrast-primary);
    border-right: 1px solid var(--objects-stroke-neutral-tertiary, #E8EAED);
    border-left: 1px solid var(--objects-stroke-neutral-tertiary, #E8EAED);
    border-bottom: 1px solid var(--objects-stroke-neutral-tertiary, #E8EAED);
    border-radius: 0 0 var(--m, 12px) var(--m, 12px);
}

.tableHeaderWrapper {
    overflow-x: auto;
    border-top: 1px solid var(--objects-stroke-neutral-secondary, #e8eaed);
    border-right: 1px solid var(--objects-stroke-neutral-secondary, #e8eaed);

    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}
