.container {
    display: flex;
    width: 424px;
    padding: var(--lvl-9, 32px);
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: var(--m, 12px);
    background: var(--objects-background-contrast-primary, #fff);
}

.alert {
    width: 360px;
}

.text {
    margin-top: 12px;
    margin-bottom: 28px;
}

@media (max-width: 767px) {
    .container {
        padding: 0 16px;
        width: 100%;
    }
    .alert {
        width: 100%;
    }
    .text {
        margin-top: 12px;
        margin-bottom: 28px;
    }
}
