@import "src/ui/styles/functions";
@import "src/ui/styles/vars";

.avatar {
    border-radius: 8px;
    flex-shrink: 0;
    display: flex;

    justify-content: center;
    align-items: center;
    background: var(--objects-background-accent-tertiary);
    color: var(--objects-text-accent-primary, #2053d5);
    overflow: hidden;

    &.brand {
        background: $objects-background-brand-expfolio-tertiary;
        color: $objects-text-brand-expfolio-primary;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: darker-hover($objects-background-brand-expfolio-tertiary);
                color: darker-hover($objects-text-brand-expfolio-primary);
            }
        }

        &.showDropdown:focus {
            background: lighter-focus($objects-background-brand-expfolio-tertiary);
            color: lighter-focus($objects-text-brand-expfolio-primary);
        }
    }

    &.small {
        width: 36px;
        height: 36px;

        .icon {
            width: 24px;
            height: 24px;
        }
    }

    &.large {
        width: 80px;
        height: 80px;

        .icon {
            width: 48px;
            height: 48px;
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background: darker-hover($objects-background-accent-tertiary);
            color: lighter-hover($objects-text-accent-primary);

            .photo {
                opacity: 0.92;
            }
        }
    }

    &.showDropdown:focus {
        background: lighter-focus($objects-background-accent-tertiary);
        color: lighter-focus($objects-background-accent-primary);

        .photo {
            opacity: 0.76;
        }
    }

    svg {
        path {
            fill: currentColor;
        }
    }
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
