@import "src/ui/styles/functions";

.container {
    width: 1240px;
    display: flex;
    margin-top: 40px;
    gap: 24px;
}

.filterBlock {
    width: 298px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.filterContainer {
    padding: 20px 24px 28px 24px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    background: var(--objects-background-neutral-tertiary, #f9fafb);
}

.filterHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--objects-text-neutral-tertiary, #444d5f);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    height: 28px;
}

.containerError {
    width: 278px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 110px;
}

.containerList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userlistBlock {
    width: 600px;
    /*display: flex;
  flex-direction: column;
  align-items: center;*/
}

.iconError {
    width: 40px;
    height: 40px;

    path {
        fill: lighter-pale($objects-graphic-neutral-tertiary);
    }
}

.errorText {
    width: 206px;
    text-align: center;
    margin-top: 8px;
}
