@import "src/ui/styles/functions";

.container {
    width: 360px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 28px;
}

.checkbox {
    margin-top: 20px;
}

.buttonsBLock {
    margin-top: 32px;
    display: flex;
    gap: 20px;
}

.enterButton {
    width: 100%;
}

.alert {
    margin-top: 28px;
}

.logo {
    color: var(--color-components-text-neutral, #070707);

    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.aceptRules {
    width: 320px;
    margin: 0 auto;
    color: var(--objects-text-neutral-primary, #111317);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-top: 20px;
}

.authConteiner {
    width: 360px;
    height: 44px;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.divider {
    align-self: stretch;
    border-right: 1px solid $objects-stroke-neutral-secondary;
}

.textAuth {
    display: flex;
    gap: 24px;
    margin-right: 12px;
    color: var(--objects-text-neutral-quaternary, #5f6a81);

    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.dividerBlock {
    display: flex;
    align-items: center;
    height: 22px;
    margin-top: 20px;
    gap: var(--lvl-5);
    color: var(--objects-text-neutral-tertiary, #444d5f);

    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.divider {
    width: 100%;
    border: none;
    height: 11px;
    border-bottom: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
}

.noAcc {
    color: var(--objects-text-neutral-tertiary, #444d5f);

    bottom: 28px;
    display: flex;
    justify-content: center;
    margin-left: 34px;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
    position: absolute;
}

@media (max-width: 767px) {
    .container {
        width: calc(100vw - 40px);
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 100dvh;
        padding-top: 80px;
    }
    .inputs {
        width: calc(100vw - 40px);
        gap: 12px;
    }
    .buttonsBLock {
        flex-direction: column;
        margin-top: 20px;
        gap: 4px;
    }
    .logo {
    }
    .authConteiner {
        width: calc(100vw - 40px);
    }
    .noAcc {
        width: calc(100vw - 40px);
        position: static;
        margin-top: auto;
        margin-bottom: 40px;
        margin-left: 0;
    }
    .dividerBlock {
        display: flex;
        align-items: center;
        height: 22px;
        margin-top: 16px;
        width: calc(100vw - 40px);
        gap: var(--lvl-5);
        color: var(--objects-text-neutral-tertiary, #444d5f);
        overflow: hidden;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
    }
    .alert {
        margin-top: 16px;
    }
    .divider {
        width: 100vw;
        border: none;

        height: 11px;
        border-bottom: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
    }
    .authConteiner {
        margin-top: 16px;
    }
    .aceptRules {
        margin-top: 20px;
    }
    .noAcc {
        border-top: 1px solid var(--objects-stroke-neutral-secondary, #d6d9e0);
        background: var(--objects-background-neutral-tertiary, #f9fafb);
        color: var(--objects-text-neutral-tertiary, #444d5f);
        width: 100vw;
        padding: 24px 0;
        margin: 0 -16px;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        bottom: 0;
        letter-spacing: 0.32px;
        margin-top: auto;
    }
}
