.iconHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background: var(--graphic-neutral-primary, #111317);

    svg path {
        fill: white;
    }
}

.header {
    display: flex;
    gap: 12px;
    align-items: center;
    color: var(--text-neutral-tertiary, #444d5f);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
}

.container {
    margin-top: 40px;
    position: relative;
}

.content {
    margin-top: 24px;
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.itemForm {
    display: flex;
    width: 100%;
    padding: 24px 24px 28px 24px;
    flex-direction: column;

    gap: 24px;
    border-radius: 12px;
    background: #f9fafb;
    height: auto;
}

.formName {
    color: var(--objects-text-neutral-quaternary, #5f6a81);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
}

.usersArray {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;
}

.footer {
    position: fixed;
    bottom: 40px;
    left: calc((100vw - 1240px) / 2 + 317px + 143px);
    display: inline-flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid var(--objects-stroke-neutral-secondary, #d6d9e0);
    background: var(--objects-background-neutral-tertiary, #f9fafb);

    box-shadow: 0 8px 20px 1px rgba(17, 19, 23, 0.12);
}

.textFooter {
    color: var(--objects-text-neutral-quaternary, #5f6a81);
    font-size: 16px;
    line-height: 130%;
}
