@import "src/ui/styles/functions";
@import "src/ui/styles/vars";

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
    /*max-height: 100%;*/
}

.count {
    display: flex;
    gap: 4px;
    color: var(--objects-text-neutral-quaternary, #5f6a81);

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.countItem {
    color: var(--objects-text-neutral-quaternary, #5f6a81);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    padding-bottom: 24px;

    @media screen and (min-width: 1500px) {
        width: 634px;
    }

    /*
  margin-top: 12px;
  */
}

.chipsArray {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.headGroup {
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 22.1px */
    margin-bottom: 12px;
}
