.container {
    border-radius: 8px;
    background: var(--objects-background-neutral-tertiary, #f9fafb);
    padding: 20px;
    width: 590px;
    cursor: pointer;

    &.active {
        border: 1px solid var(--objects-stroke-accent-primary, #2053d5);
        padding: 19px;
    }
}

.badges {
    display: flex;
    gap: 4px;
}

.badge {
    max-width: 85px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border-radius: var(--3xl, 28px);
    border: 1px solid var(--objects-stroke-neutral-secondary, #d6d9e0);
    background: var(--objects-background-neutral-tertiary, #f9fafb);
    color: var(--objects-text-neutral-primary, #111317);
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    padding: 5px 7px;

    svg {
        flex: 0 0 auto;
        width: var(--icons-width-xs, 16px);
        height: var(--icons-height-xs, 16px);
    }

    &.error {
        border: 1px solid var(--objects-stroke-negative-secondary, #eda0a0);
        background: var(--objects-background-negative-tertiary, #ffe6e6);
        color: var(--objects-text-negative-primary, #c02626);
    }
}

.badgeText {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.badgeNoLimit {
    max-width: none;
}

.imgBlock {
}

.users {
    display: flex;
    gap: 80px;
    margin-top: 16px;
}

.userImg {
    width: 36px;
    height: 36px;
    border-right: 8px;
    overflow: hidden;
    object-fit: cover;
}

.user {
    display: flex;
    gap: 8px;
}

.noUser {
    border-radius: 8px;
    background: var(--background-neutral-secondary, #e8eaed);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;

    svg {
        width: var(--icons-width-xs, 16px);
        height: var(--icons-height-xs, 16px);

        path {
            fill: var(--objects-graphic-neutral-tertiary);
        }
    }
}

.role {
    color: var(--text-neutral-secondary, #2c313a);
    text-align: justify;

    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 16.8px */
    opacity: 0.5;
}

.userName {
    color: var(--objects-text-accent-primary, #2053d5);
    text-align: justify;

    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 18.2px */
}

.text {
    margin-top: 12px;
    color: var(--objects-background-contrast-secondary, #444d5f);

    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 21px */
    min-height: 85px;
}

.buttonBlock {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 20px;
}

.info {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: var(--text-neutral-secondary, #2c313a);
    text-align: justify;

    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 16.8px */
    margin-right: 4px;
}

.infoDate {
    color: var(--objects-text-neutral-primary, #111317);
    text-align: end;

    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 16.8px */
}
