@import "src/ui/styles/functions";

.row {
    display: flex;
    min-width: 100%;
    width: fit-content;

    &.large {
        height: var(--row-height-large, 76px);

        &.dynamicRowHeight {
            height: auto;
            min-height: var(--row-height-large, 76px);
        }
    }

    &.compact {
        height: 41px;

        &.dynamicRowHeight {
            height: auto;
            min-height: 41px;
        }
    }

    &:not(&.last) {
        border-bottom: 1px solid var(--objects-stroke-neutral-tertiary, #e8eaed);
    }

    &.clickable {
        cursor: pointer;
    }

    &:not(.clickable):active {
        > div {
            background: darker-hover($objects-background-contrast-primary);
        }
    }
}
