.iconHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background: var(--graphic-neutral-primary, #111317);
}

.header {
    display: flex;
    gap: 12px;
    align-items: center;
    color: var(--text-neutral-tertiary, #444d5f);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
}

.container {
    margin-top: 40px;
    padding-bottom: 140px;
}

.grid {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 777px 1fr;
    gap: 20px;

    @media screen and (min-width: 1500px) {
        grid-template-columns: 977px 1fr;
    }
}

.mapWrapper {
    width: 777px;
    height: 459px;
    z-index: 1;

    @media screen and (min-width: 1500px) {
        width: 977px;
    }
}

.rightColumn {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card {
    display: flex;
    padding: 16px 20px 24px 20px;
    flex-direction: column;
    gap: 12px;
    border-radius: 10px;
    border: 1px solid var(--objects-stroke-neutral-secondary, #d6d9e0);
    background: #fcfcfd;
}

.footer {
    position: fixed;
    bottom: 40px;
    left: calc((100vw - 1240px) / 2 + 317px + 143px);
    display: inline-flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid var(--objects-stroke-neutral-secondary, #d6d9e0);
    background: var(--objects-background-neutral-tertiary, #f9fafb);

    box-shadow: 0 8px 20px 1px rgba(17, 19, 23, 0.12);
}

.polygonContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.polygonCard {
    display: flex;
    width: 100%;
    padding: 16px 20px 24px 20px;
    flex-direction: column;
    gap: 12px;
    border-radius: 8px;
    background: #f3f4f7;
}

.latitudeLabel {
    @media screen and (min-width: 1500px) {
        margin-left: 426px !important;
    }
}
