@import "src/ui/styles/functions";

@font-face {
    font-family: "fontello";
    src: url("font/fontello.woff?0000") format("woff");
    font-weight: normal;
    font-style: normal;
}

.input {
    width: 81px !important;
    height: 48px !important;
    border-radius: var(--s, 8px) !important;
    border: 1px solid var(--objects-stroke-neutral-secondary, #d6d9e0) !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    letter-spacing: 0.32px !important;
    text-align: center;
    margin: 0 !important;
    color: var(--objects-text-neutral-primary, #111317);
    line-height: normal;
    text-align: center;
    font-family: Manrope !important;
    margin-left: 12px !important;
    margin-right: 0 !important;
    background-color: lighter-pale($objects-background-contrast-primary);

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            border: 1px solid var(--objects-stroke-neutral-secondary, #d6d9e0) !important;
            background-color: darker-hover($objects-background-contrast-primary);
        }
    }

    &:focus {
        border: 1px solid var(--objects-stroke-brand-expfolio-quaternary) !important;
        background: var(--objects-background-contrast-primary, #fff);
    }

    &:not(:placeholder-shown) {
        border: 1px solid var(--objects-stroke-brand-expfolio-quaternary) !important;
        background: var(--objects-background-contrast-primary, #fff);
    }

    &.error {
        border: 1px solid var(--objects-stroke-negative-primary, #c02626) !important;
        background-color: lighter-pale($objects-background-contrast-primary);
    }

    &.disabled {
        pointer-events: none;
        background-color: lighter-disabled($objects-background-neutral-secondary);
        border: 1px solid lighter-disabled($objects-stroke-neutral-secondary) !important;
    }

    &.password {
        font-size: 10px !important;
        font-family: "fontello" !important;
    }
}

.firstInput {
    width: 81px !important;
    height: 48px !important;
    border-radius: var(--s, 8px) !important;
    border: 1px solid var(--objects-stroke-neutral-secondary, #d6d9e0) !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    letter-spacing: 0.32px !important;
    text-align: center;
    margin: 0 !important;
    color: var(--objects-text-neutral-primary, #111317) !important;
    line-height: normal;
    background-color: lighter-pale($objects-background-contrast-primary);
    font-family: Manrope !important;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            border: 1px solid var(--objects-stroke-neutral-secondary, #d6d9e0) !important;
            background-color: darker-hover($objects-background-contrast-primary);
        }
    }

    &:focus {
        border: 1px solid var(--objects-stroke-brand-expfolio-quaternary) !important;
        background: var(--objects-background-contrast-primary, #fff);
    }

    &:not(:placeholder-shown) {
        border: 1px solid var(--objects-stroke-brand-expfolio-quaternary) !important;
        background: var(--objects-background-contrast-primary, #fff);
    }

    &.error {
        border: 1px solid var(--objects-stroke-negative-primary, #c02626) !important;
        background-color: lighter-pale($objects-background-contrast-primary);
    }

    &.disabled {
        pointer-events: none;
        background-color: lighter-disabled($objects-background-neutral-secondary);
        border: 1px solid lighter-disabled($objects-stroke-neutral-secondary) !important;
    }

    &.password {
        font-size: 10px !important;
        font-family: "fontello" !important;
    }
}

@media (max-width: 767px) {
    .firstInput {
        width: calc((100% - 36px) / 4) !important;
    }
    .input {
        width: calc((100% - 36px) / 4) !important;
    }
}
